/*DEVELOPER: Marcela Adiao, IS117-003, Fall, 2022 */

/*General Style*/
:root{
    --cream: #F7F4EF;
    --yellow: #FEAA00;
    --green: #788402;
    --brown: #342628;
}

html{
    background-color: var(--cream);
}

.bg-wrapper{
    width:100%;
    min-height:100%;
    height: 100%;
    background-color: var(--cream);
    margin:0;
}

header{
    padding-left: 15px;
    padding-top: 10px;

    color: var(--brown);
    background-color: var(--cream);
}

/*Navigation Bar*/
.navbar{
    width: 100%;
    background-color: var(--cream);
}
.navbar.container-fluid{
    margin:0;
}

.navbar a{
    color: var(--brown);
}

.navbar a:hover{
    color: var(--green);
}

/*Home */
.card-body{
    background-color: var(--green);
    color: var(--brown);
}

.card-body a{
    color: var(--brown);
}

.card-body a:hover{
    color: var(--yellow);
}

/*Resume*/
#resume-text h5{
    background-color: var(--green);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
#resume-text p{
    text-indent: 25px;
}
#skills{
    columns:2;
}

/*Previous Projects*/
#proj-list dl{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 25px;
    border-color: var(--brown);
    margin-left: 5px;
    margin-right: 5px;
}

/* About Me Page */
.am-wrapper{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.about-me-text{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 25px;
    border-color: var(--brown);
}
.about-me-text p{
    text-indent: 25px;
    padding-left: 5px;
    color: var(--brown);
}

#img-self{
    width: 20%;
    height: 20%;
    border-radius: 25px;
    float:right;
    padding-left: 5px;
}
/*Footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--brown);
    background-color: var(--cream);
    margin: 0;
}